body{
    margin: 0;
    padding: 0;
}

nav{
    width: 90vw;
    background-color: purple;
    height: 10vh;
    display: flex;
    margin: 0 auto;
    margin-top: 5vh;
    gap: 2vw;
    align-items: center;
}

nav>div{
    display: flex;
    background-color: aqua;
    width: 9vw;
    height: 5.5vh;
}

nav>div:first-child{
    margin-left: 2vw;
}

main{
    width: 90vw;
    height: 70vh;
    display: flex;
    margin: 0 auto;
}

main>div:first-child{
    background-color: yellow;
    height: auto;
    flex: 5;
}

main>div:last-child{
    background-color: green;
    height: auto;
    flex: 2;
}