*{margin: 0; padding: 0;}

h1{
    text-shadow: 1px 1px rgb(153, 153, 140);
    letter-spacing: 1px;
}
#h1background{
    padding-top: 3px;
    background-color: rgba(128, 128, 128, 0.39);
}
body{
    background-image: url("images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
    width: auto;
    min-height: 100vh;
    margin: 0 auto;
}

.card>img{
      width: 100%;
      height: 25vh
}
.card>div:first-of-type{
    margin-bottom: -1vh;
}
.container{
    margin: 0 auto
}
.card{
    background-color: rgba(255, 255, 255, 0.85);
}