body{
    text-align: center;
    background-image: url("background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

h1{
    color: darkblue;
    text-shadow: 1px 1px cadetblue;
}
h3{
    margin-bottom: 1vh;
}

#idopontfoglalo{
    background-color: rgba(42, 204, 233, 0.9);
    width: 35vw;
    margin: 0 auto;
    margin-bottom: 2vh;
    padding-bottom: 1vh;
    box-shadow: 3px 3px 2px rgb(31, 104, 187);
    color: black;
}
#hibauzenet{
    color: rgb(178,34,34);
    margin-top: 1vh;
}
#hozzaad{
    margin-top: 1vh;
}

table{
    background-color: rgba(255, 228, 196, 0.9);
    width: 75vw;
    margin: 0 auto;
    border: 3px solid black;
    border-collapse: collapse;
}

td, th{
    border: 1px solid black;
    height: 2em;
}
th:first-of-type{
    border-left: 3px solid black;
}
th:last-of-type{
    border-right: 3px solid black;
}
th{
    border-bottom: 2px solid black;
    border-top: 3px solid black;
}
#hozzaad{
    background-color: green;
    color: white;
    border-radius: 45%;
    font-size: 1rem;
}
td:nth-child(8)>button{
    background-color: red;
    color: white;
    border-radius: 10%;
}
td:last-child>button{
    background-color: rgb(36, 119, 197);
    color: white;
    border-radius: 10%;
}
tr:hover{
    background-color: rgba(161, 120, 71, 0.5);
}
tr:has(td:nth-child(8)>button:hover){
    background-color: rgba(255, 16, 16, 0.7);
}
tr:has(td:last-child>button:hover){
    background-color: rgba(36, 119, 197, 0.7);
}